//spinner variants
.vb-primary-spinner {
  --mdc-circular-progress-active-indicator-color: #1cbd5d;
}

.vb-secondary-spinner {
  --mdc-circular-progress-active-indicator-color: #ffffff;
}

.vb-tertiary-spinner {
  --mdc-circular-progress-active-indicator-color: #aec514;
}

//checkbox variants
.vb-primary-checkbox {
  --mdc-checkbox-selected-icon-color: #1cbd5d;
}

.vb-secondary-checkbox {
  --mdc-checkbox-selected-icon-color: #e3fbcc;
}

.vb-tertiary-checkbox {
  --mdc-checkbox-selected-icon-color: #aec514;
}
