<div class="w-auto h-auto">
  <aies-navbar>
    <div button>
      <aies-button class="text-white"> + Create Shipment</aies-button>
    </div>
  </aies-navbar>
  <div class="py-4 pl-6 pr-4">
    <div class="grid items-center w-full h-full grid-cols-1 md:grid-cols-2">
      <div class="flex flex-col gap-2 mt-4">
        <h1 class="text-xl font-bold text-gray-900">Hi, Pierce.</h1>
        <p class="text-sm font-normal text-gray-500">
          See all your shipment Overview here.
        </p>
      </div>

      <div class="flex items-center justify-start gap-4 mt-2 md:justify-end">
        <!-- <div
          class="flex items-center w-auto h-auto gap-2 px-3 py-2 text-lg font-bold text-center text-gray-500 bg-white rounded justify-evenly max-w-[15rem]"
        >
          <span
            class="icon-[ep--arrow-left-bold]"
            style="width: 16px; height: 16px"
          ></span>
          <p class="text-sm font-semibold text-gray-800">February, 2024</p>
          <span
            class="icon-[ep--arrow-right-bold]"
            style="width: 16px; height: 16px"
          ></span>
        </div> -->

        <p-datepicker
          dateFormat="MM, yy"
          [iconDisplay]="'input'"
          [showIcon]="true"
          [(ngModel)]="date"
          inputId="templatedisplay"
        >
          <ng-template #inputicon let-clickCallBack="clickCallBack">
            <span
              (click)="clickCallBack($event)"
              class="icon-[solar--calendar-linear]"
              style="width: 24px; height: 24px"
            ></span>
          </ng-template>
        </p-datepicker>
      </div>
    </div>

    <aies-cards />
    <div class="flex flex-wrap items-center w-full h-auto gap-3 my-6">
      <aies-radialbar-graph />
      <aies-heatmap-graph />

      <div class="h-[308px] w-full md:w-[237px] bg-white rounded p-4 relative">
        <div class="w-[90%] h-full">
          <h2 class="text-[1rem] font-semibold text-gray-900 uppercase">
            Our Warehouses
          </h2>

          <div
            class="flex items-center justify-between p-3 mt-3 bg-gray-300 border-2 rounded-lg border-gray-250"
          >
            <mat-select placeholder="Select Warehouse">
              <mat-option value="Ikeja Warehouse">Ikeja Warehouse</mat-option>
              <mat-option value="Lekki Warehouse">Lekki Warehouse</mat-option>
              <mat-option value="Mainland Warehouse"
                >Mainland Warehouse</mat-option
              >
              <mat-option value="Oshodi Warehouse">Oshodi Warehouse</mat-option>
            </mat-select>
          </div>

          <div class="flex items-center justify-between mt-2">
            <h3 class="mt-2 text-lg font-semibold text-gray-900">
              Ikeja Warehouse
            </h3>

            <button mat-icon-button>
              <span
                class="icon-[solar--copy-linear] cursor-pointer"
                style="width: 24px; height: 24px"
              ></span>
            </button>
          </div>

          <p class="text-[#81909D] text-sm font-normal my-2">
            3770 Zip Industrial Blvd SE suite d, Atlanta, Industrial Blvd SE
            suite d, GA 30354, USA.
          </p>
          <a
            href="http://"
            target="_blank"
            class="text-sm text-semibold text-primary"
            >View on map</a
          >
        </div>
      </div>

      <div class="h-[308px] w-full md:w-[221px] bg-white rounded p-4 relative">
        <div class="w-[90%] h-full">
          <h2 class="text-[1rem] font-semibold text-gray-900 uppercase">
            Top Addresses
          </h2>
          <h1 class="mt-2 text-lg font-semibold text-gray-900">
            Atlanta Warehouse
          </h1>

          <p class="text-[#81909D] text-sm font-normal mt-2">
            3770 Zip Industrial Blvd SE suite d, Atlanta, Industrial Blvd SE
            suite d, GA 30354, USA.
          </p>
          <hr class="w-full h-[2px] bg-[#E4E7EC]" />
          <h1 class="mt-2 text-lg font-semibold text-gray-900">
            Atlanta Warehouse
          </h1>

          <p class="text-[#81909D] text-sm font-normal">
            3770 Zip Industrial Blvd SE suite d, Atlanta, Industrial Blvd SE
            suite d, GA 30354, USA.
          </p>
          <hr class="w-full h-[2px] bg-[#E4E7EC]" />
        </div>
      </div>
    </div>

    <aies-shipping-list />
  </div>
</div>
